
	
		{{!-- <div class="row">			
			<div class="col"></div>
			<div class="col">
				<form class="form-signin" id="signup" name="signup" method="post" action="/signup">
					<h2 class="form-signin-heading">Sign Up!</h2>
					<label for="email" class="sr-only">Email Address</label>
					<input type="email" class="form-control" placeholder="Email address" id="inputEmail" name="email" type="email" required autofocus
					/>
					<label for="firstname" class="sr-only">First Name</label>
					<input name="firstname" type="text" class="form-control" placeholder="First Name" required />
					<label for="lastname" class="sr-only">Last Name</label>
					<input name="lastname" type="text" class="form-control" placeholder="Last Name" required />
					<label for="username" class="sr-only">Phone Number</label>
					<input name="username" type="text" class="form-control" placeholder="Phone Number (XXXXXXXXXX)" required />
					<label for="inputPassword" class="sr-only">Password</label>
					<input name="password" type="password" class="form-control" placeholder="Password" required />
					<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up" />
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div> --}}
	
