{{!-- <DOCTYPE! html>
	<html>

	<head>
		<title>Remind Me</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body> --}}



		<div class="container">

			<br>

			<!-- Jumbotron -->
			<div class="jumbotron">
				<h1 class="text-center">Sign In To Create Your Reminders</h1>
			</div>
			<!-- Create Reminder Panel-->
			<div class="row">
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Add Reminder</h3>
						</div>
						<div class="panel-body">
							<form id="signin" name="signin" method="post" action="signin">
								<label for="email">Email Address</label>
								<br>
								<input class="text" name="email" type="text" />
								<br>
								<label for="password">Password</label>
								<br>
								<input name="password" type="password" />
								<br>
								<br>
								<input class="btn" type="submit" value="Sign In" />
							</form>
						</div>
					</div>
				</div>
			</div>

			{{!-- <form id="signin" name="signin" method="post" action="signin">
				<label for="email">Email Address</label>
				<input class="text" name="email" type="text" />
				<label for="password">Password</label>
				<input name="password" type="password" />
				<input class="btn" type="submit" value="Sign In" />
			</form>
		</div> --}}

{{!-- 
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


	</body>

	</html> --}}